.cabecalho{
       font-family:'Times New Roman', Times, serif ;
       text-align: center;
       font-size: larger;
       background-color:rgb(248, 235, 218) ;


}
.corpo{
    background: rgb(167,178,247);
    background: linear-gradient(90deg, rgba(167,178,247,1) 0%, rgba(200,255,207,1) 50%, rgba(255,186,143,1) 100%);
    font-family:'Times New Roman', Times, serif ;
       text-align: center;
       font-size: medium;
       color: black;
          border: 2px solid black;
          margin: 20px;
          padding: 20px;
}

.word{
    background: rgb(63,94,251);
background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(178,195,245,1) 94%);
text-align: center;
font-size: larger;

}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #000000;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #e9ebf2;
  }


.powerpoint{
    background: rgb(244,135,32);
background: radial-gradient(circle, rgba(244,135,32,1) 0%, rgba(244,225,181,1) 94%);
text-align: center;
font-size: larger;

  }

  .excel{
    background: rgb(71,159,67);
background: radial-gradient(circle, rgba(71,159,67,1) 0%, rgba(187,222,157,1) 94%);
text-align: center;
font-size: larger;

  }

  
